{% extends 'partials/_master.twig' %}

{% block title %}
    {% trans %}title.login.page{% endtrans %}
{% endblock %}

{% block body %}
    <form class="" method="post">
        {% if error %}
            <div class="w3-text-red">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <h1>{% trans %}header.signin.form{% endtrans %}</h1>
        <input type="email" value="{{ last_username }}" placeholder="{% trans %}label.email{% endtrans %}" name="email" id="inputEmail" class="w3-input w3-padding-16 w3-section w3-border" autocomplete="email" required autofocus>
        <input type="password" name="password" id="inputPassword" placeholder="{% trans %}label.password{% endtrans %}" class="w3-input w3-padding-16 w3-section w3-border" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" >

        <button type="submit" class="w3-btn w3-button w3-dark-gray w3-padding-16 w3-section">{% trans %}button.login{% endtrans %}</button>
        <p><a href="{{ path('register_nubai') }}">{% trans %}link.create.new.account{% endtrans %}</a></p>
        <p><a href="{{ path('reset_password_nubai') }}">{% trans %}link.to.reset.password.request{% endtrans %}</a></p>
        
    </form>
{% endblock %}
