{% extends 'partials/_master.twig' %}

{% block title %}
    {% trans %}title.register.page{% endtrans %}
{% endblock %}

{% block body %}

    <h1>{% trans %}header.register.form{% endtrans %}</h1>

    <div class="form-wrapper">
        
        <div class="form-errors">
            {{ form_errors(registrationForm) }}
        </div>

        {{ form_start(registrationForm) }}
        
        <div class="form-email-field">
            {{ form_label(registrationForm.email, 'label.email') }}
            {{ form_widget(registrationForm.email, {'attr': {'class': 'w3-input w3-padding-16 w3-border w3-section'}}) }}
            {{ form_errors(registrationForm.email) }}
        </div>
        <div class="form-password-field">
            {{ form_label(registrationForm.password, 'label.password') }}
            {{ form_widget(registrationForm.password, {'attr': {'class': 'w3-input w3-padding-16 w3-border w3-section'}}) }}
            {{ form_errors(registrationForm.password) }}
        </div>
        <div class="form-checkbox-field">
            {{ form_label(registrationForm.agreeTerms, 'label.agree.terms') }}
            {{ form_widget(registrationForm.agreeTerms) }}
            {{ form_errors(registrationForm.agreeTerms) }}
        </div>
        <div class="form-submit-field">
            <button type="submit" class="w3-btn w3-button w3-dark-gray w3-padding-16 w3-section">{% trans %}button.register{% endtrans %}</button>
        </div>
        
        <a href="{{ path('login_nubai') }}">{% trans %}link.go.login.page{% endtrans %}</a>
        
        {{ form_end(registrationForm) }}
    </div>

{% endblock %}
