{% extends 'partials/_master.twig' %}

{% block title %}
    {% trans %}title.reset.password.request.page{% endtrans %}
{% endblock %}

{% block body %}

    <h1>{% trans %}heading.reset.password.request.form{% endtrans %}</h1>

    <div class="form-wrapper">
        
        <div class="form-errors">
            {{ form_errors(requestForm) }}
        </div>

        {{ form_start(requestForm) }}
        
        <div class="form-email-field">
            {{ form_label(requestForm.email, 'label.email') }}
            {{ form_widget(requestForm.email, {'attr': {'class': 'w3-input w3-padding-16 w3-border w3-section'}}) }}
            {{ form_errors(requestForm.email) }}
        </div>
        
        <div class="w3-section">
            <small>{% trans %}info.reset.password.request.form{% endtrans %}</small>
        </div>
        
        <div class="form-submit-field">
            <button type="submit" class="w3-btn w3-button w3-dark-gray w3-padding-16 w3-section">{% trans %}button.reset.password.request.form{% endtrans %}</button>
        </div>
        
        {{ form_end(requestForm) }}
    </div>

{% endblock %}
