{% extends 'partials/_master.twig' %}

{% block title %}
    {% trans %}title.reset.password.page{% endtrans %}
{% endblock %}

{% block body %}

    <h1>{% trans %}header.reset.password.page{% endtrans %}</h1>

    <div class="form-wrapper">

        <div class="form-errors">
            {{ form_errors(resetForm) }}
        </div>

        {{ form_start(resetForm) }}

        <div class="form-password-field">
            {{ form_row(resetForm.password.first, {'attr': {'class': 'w3-input w3-padding-16 w3-border w3-section', 'placeholder': 'new.password'}}) }}
        </div>
        
        <div class="form-password-field">
            {{ form_row(resetForm.password.second, {'attr': {'class': 'w3-input w3-padding-16 w3-border w3-section', 'placeholder': 'repeat.password'}}) }}
        </div>

        <div class="form-submit-field">
            <button type="submit" class="w3-btn w3-button w3-dark-gray w3-padding-16 w3-section">{% trans %}buttom.reset.password{% endtrans %}</button>
        </div>

        {{ form_end(resetForm) }}

    </div>
{% endblock %}
