{% extends 'partials/_master.twig' %}

{% block title %}
    {% trans %}title.reset.password.request.page{% endtrans %}
{% endblock %}

{% block body %}

    <h1>{% trans %}heading.reset.password.request.form{% endtrans %}</h1>

    <div class="form-wrapper">
        
        <div class="form-errors">
            {{ form_errors(requestForm) }}
        </div>

        {{ form_start(requestForm) }}
        
        <div class="form-email-field">
            {{ form_widget(requestForm.email, {'attr': {'class': 'w3-input w3-padding-16 w3-border w3-section', 'placeholder': 'label.email'}}) }}
            {{ form_errors(requestForm.email) }}
        </div>
        
        <div class="w3-section">
            <small class="blue-nubai">{% trans %}info.reset.password.request.form{% endtrans %}</small>
        </div>
        
        <div class="form-captcha-field">
            {{ form_widget(requestForm.captcha, {'attr': {'class': 'w3-padding-16 w3-border w3-section'}}) }}
            {{ form_errors(requestForm.captcha) }}
        </div>
        
        <div class="form-submit-field">
            <button type="submit" class="w3-btn w3-button w3-dark-gray w3-padding-16 w3-section">{% trans %}button.reset.password.request.form{% endtrans %}</button>
        </div>
        
        <p><a href="{{ path('login_nubai') }}">{% trans %}link.go.login.page{% endtrans %}</a></p>
        <p><a href="{{ path('register_nubai') }}">{% trans %}link.create.new.account{% endtrans %}</a></p>
        
        {{ form_end(requestForm) }}
    </div>

{% endblock %}
