{% extends 'partials/_master.twig' %}

{% block title %}{{ product|title }}{% endblock %}

{% block main %}

    <div class="w3-row">
        <div class="w3-col l2 w3-hide-medium w3-hide-small">
            {% block asidelarge %}
                {{ include('partials/_aside.twig') }}
            {% endblock asidelarge %}
        </div>
        <div class="w3-col l10">

            <div class="w3-row">
                <div class="w3-half w3-mobile w3-padding w3-cell-top w3-display-container">
                    {% if product.images %}
                        <div>
                            {% for image in product.images %}
                                <img class="mySlides productSlide w3-image" src="{{ image|thumbnail(500, 500) }}">
                            {% endfor %}
                            <button class="w3-button blue-nubai-bg w3-text-white w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
                            <button class="w3-button blue-nubai-bg w3-text-white w3-display-right" onclick="plusDivs(1)">&#10095;</button>
                        </div>
                    {% endif %}
                </div>
                <div class="w3-half w3-mobile w3-padding w3-cell-top">
                    <h1>{{ product|title }}</h1>
                    <p>{{ product.teaser }}</p>
                    <span class="w3-red w3-round-small w3-padding-small w3-opacity">{{ product.price1|format_currency('CVE') }}</span>
                </div>
                <script>
                    var slideIndex = 1;
                    showDivs(slideIndex);

                    function plusDivs(n) {
                        showDivs(slideIndex += n);
                    }

                    function showDivs(n) {
                        var i;
                        var x = document.getElementsByClassName("mySlides");
                        if (n > x.length) {
                            slideIndex = 1
                        }
                        if (n < 1) {
                            slideIndex = x.length
                        }
                        for (i = 0; i < x.length; i++) {
                            x[i].style.display = "none";
                        }
                        x[slideIndex - 1].style.display = "block";
                    }
                </script>
            </div>
        </div>
    </div>
    <div class="w3-col w3-hide-large">
        {% block aside %}
            {{ include('partials/_aside.twig') }}
        {% endblock aside %}
    </div>

    {#

    {% include 'partials/_image.twig' with ({'image': record|image}) %}
    
    #}

    {# Output all fields, in the order as defined in the content type.
       To change the generated html and configure the options, see:
       https://docs.bolt.cm/templating #}

    {#
    {% with { 'record': record, 'exclude': [record|image.fieldname|default()] } %}
        {{ block('sub_fields', 'helpers/_fields.twig') }}
    {% endwith %}
    #}

    {# Uncomment this if you wish to dump the entire record to the client, for debugging purposes.
    {{ dump(record) }}
    #}


    {# {% include 'partials/_recordfooter.twig' with { 'record': record, 'extended': true } %} #}

{% endblock main %}
