{% extends 'partials/_master.twig' %}

{% block title %}{{ product|title }}{% endblock %}

{% block main %}


    <div class="w3-container blue-nubai">
        <span><a href="{{ path('homepage_locale') }}"><i class="fa-solid fa-house"></i></a> <i class="fa-solid fa-caret-right"></i> <a href="{{ path('listing_locale', { 'contentTypeSlug': 'products' }) }}">{% trans %}link.to.products.page{% endtrans %}</a> <i class="fa-solid fa-caret-right"></i> {{ product|title }}</span>
    </div>
    <div class="w3-row">
        <div class="w3-col l2 w3-hide-medium w3-hide-small">
            {% block asidelarge %}
                {{ include('partials/_aside.twig') }}
            {% endblock asidelarge %}
        </div>
        <div class="w3-col l10">

            <div class="">
                <div class="w3-cell w3-mobile w3-padding w3-cell-top">
                    {% if product|image %}
                        <img src="{{ product|thumbnail(500, 300) }}" alt="{{ product|image.alt|default() }}" />
                    {% endif %}
                </div>
                <div class="w3-cell w3-mobile w3-padding w3-cell-top">
                    <h1>{{ product|title }}</h1>
                    <p>{{ product.teaser }}</p>
                    <span class="w3-red w3-round-small w3-padding-small w3-opacity">{{ product.price1|format_currency('CVE') }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="w3-col w3-hide-large">
        {% block aside %}
            {{ include('partials/_aside.twig') }}
        {% endblock aside %}
    </div>

    {#

    {% include 'partials/_image.twig' with ({'image': record|image}) %}
    
    #}

    {# Output all fields, in the order as defined in the content type.
       To change the generated html and configure the options, see:
       https://docs.bolt.cm/templating #}

    {#
    {% with { 'record': record, 'exclude': [record|image.fieldname|default()] } %}
        {{ block('sub_fields', 'helpers/_fields.twig') }}
    {% endwith %}
    #}

    {# Uncomment this if you wish to dump the entire record to the client, for debugging purposes.
    {{ dump(record) }}
    #}


    {# {% include 'partials/_recordfooter.twig' with { 'record': record, 'extended': true } %} #}

{% endblock main %}
