{% extends 'partials/_master.twig' %}

{% block title %}
    {% trans %}list.services.header{% endtrans %} | Nubai
{% endblock %}

{% block main %}

    <h1>{% trans %}list.services.header{% endtrans %}</h1>

    {% for service in services %}
        <article>

            <a href="{{ service|link() }}"><h2>{{ service.title }}</h2></a>
            <p><img src="{{ service.image|thumbnail(320, 240) }}"></p>

        </article>
    {% else %}
        <article>
            
            <h2>{{ __('general.phrase.no-content-found') }}</h2>
            <p>
                {{ __("Unfortunately, no content could be found. Try another page, or go to the <a href=\"%paths_root%\">homepage</a>.", {'%paths_root%': path('homepage')} ) }}
            </p>

        </article>
    {% endfor %}

{%  endblock main %}